a:visited {
    color: black;
}

a:hover {
    color: rgb(0, 127, 201);
}

body {
    font-family: 'Quicksand', sans-serif;
}

.back-color {
    background-color: rgb(124, 173, 196);
}

.front-color {
    background-color: rgba(245, 245, 245, 0.856);
}