*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}
h4{
    margin-bottom: 15px;
}
hr{
        color: rgba(0,0,0,0.5);
}
a{
    text-decoration: none;
    width: 15%;
    height: 60px;

}
html, body {
    height: 100%;
    margin: 0;
  }
/* header */
.header{
    width: 100%;
    display: flex;
    min-height: 60px;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.logo{
    font-size: 20px;
    width: 100%;
    padding: 20px;
    height: 60px;
}
.login{
    text-align: center;
    cursor: pointer;
    font-size: 20px;
    padding: 20px;
    color: black;
    width: 15%;
    height: 60px;
    

}
.login:hover{
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
/* left navbar */
.navbar{
    
    width: 20%;
    float: left;
    box-shadow:  10px 0px 10px -10px rgba(0, 0, 0, 0.19);

}
.category-list{
    min-height: 900px;
    text-align: center;
    margin: 15px;
}
/* Login & Register modal */
.login-modal{
    display: block;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: aliceblue;
    background-color: rgba(0,0,0,0.4);
    padding-top: 60px;
}
/* Modal container */
.modal-cont{
    background-color: #fefefe;
    margin: 5px auto;
    border: 1px solid #888;
    width: 450px;
    text-align: center;
}
/* Input container login and register */
.log-container{
    margin: 0 auto;
    width: 450px;
    clear: both;
    padding: 5px;
    
    
}
.log-container input{
    width: 100%;
    clear: both;
}
.log-container label{
    margin: 8px;
    float: left;
}
.logo-login{
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
}
/* Close btn login and register modal */
.close{
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    cursor: pointer;
}
/* Submit btns Login and Register */
.login-btns{
    margin: 10px;
}

/* **********POST Container*********** */
.section-post{
    position: relative;
    padding: 15px;
    top:50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.post-container{
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    float: left;
    width: 95%;
    height: auto;
    border: solid 1px rgba(0,0,0,0.2);

}
.first-div{
    width: 100%;
    display: flex;
    min-height: 55px;
    text-align: center;
    border-bottom: solid 1px rgba(0,0,0,0.2);
}
.category{
    border-right: solid 1px rgba(0,0,0,0.2);
    width: 25%;
    min-height: 55px;
    padding: 15px;
}
.title-date{
    border-right: solid 1px rgba(0,0,0,0.2);
    width: 50%;
    min-height: 55px;
    padding: 15px;
}
.post-nr{
    width: 25%;
    min-height: 55px;
    padding: 15px;
}
/* Text content second div */
.sec-div{
    width: 100%;
    min-height: 150px;
    text-align: center;
}
.third-div{
    width: 100%;
    min-height: 35px;
    text-align: center;
    padding: 15px;
}

/* comments divs fourth */
.fourth-div{
    border-top: solid 1px rgba(0,0,0,0.2);
    width: 100%;
    min-height: 35px;
    padding: 15px;
    text-align: center;
    background-color: rgba(149, 149, 149, 0.1);
}
.fourth-div input{
    width: 85%;
    margin-right: 30px;
}
/* fifth-div */
.fifth-div{
    width: 100%;
    display: flex;
    min-height: 155px;
    border-top: solid 1px rgba(0,0,0,0.2);
    text-align: center;
}
.display-comment{
    width: 80%;
    padding: 15px;
}
.author-comments{
    padding: 15px;
    width: 20%;
    border-left: solid 1px rgba(0,0,0,0.2);
}

/* Control panel */
.control-panel{
    margin-top: 150px;
  
}
.control-container{
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 50%;
    height: auto;
    margin: 0 auto;
    border: solid 1px rgba(0,0,0,0.2);
}
.info-panel,.control-post{
    border-bottom: solid 1px rgba(0,0,0,0.2);
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    width: 100%;
    min-height: 30px;
}
.month-panel,.date-post{
    width: 20%;
    padding: 10px;
    border-right: solid 1px rgba(0,0,0,0.2);

}
.user-panel,.info-post{
    width: 60%;
    padding: 10px;
    border-right: solid 1px rgba(0,0,0,0.2);

}
.category-panel,.info-category{
    width: 20%;
    padding: 10px;
}



/*************************** FOOTER ***********************/

.footer{
    position: fixed;
    min-height: 60px;
    left: 0;
    bottom: 0;
    width: 100%;
    color: black;
    text-align: center;
    border-top: solid 1px rgba(0, 0, 0, 0.5);
}




/* Responsive Login & Register Modal */

@media screen and (max-width: 450px) {
    .modal-cont{
        text-align: center;
        width: 80%;
    }
    .log-container{
        width: auto;
    }
    .post-container{
        width: 100%;
        margin: 0 auto;
        height: auto;
        border: solid 1px black ;
    }
    .first-div{
        width: 100%;
       
    }
}